<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h3 class="card-title">404</h3>
    <p class="card-text"><%= error %></p>
  </div>
  <div class="card-footer text-muted">
    <a href="<%= backURL %>" class="btn btn-default">Back</a>
  </div>
</div>
